

<header class="header">

  <nav>
    <a href="/home">Start</a>
    <a href="/integer">Heltal</a>
    <a href="/uuid">UUID</a>
    <a href="/contact">Kontakt</a>
  </nav>
</header>

<div class="home">
  <h1>Värdegenerator SPA</h1>
  <p>Välj en generator från menyn för att komma igång.</p>
  <ul>
    <li>**Heltal:** Generera slumpmässiga nummer i ett valt intervall.</li>
    <li>**UUID:** Generera unika identifierare.</li>
  </ul>
</div> 

<div class="contact">
  <h2>Kontakta Oss</h2>
  <p>Detta är en övningssida</p>
</div> 

